.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    bottom: 0;
    background-color: steelblue;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbar > ul {
    list-style: none;
    color: #fff;
    padding: 10px;
}

.navbar > ul > li {
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    transition: background-color .3s linear;
}

.navbar > ul > li:hover {
    background-color: orangered;
}

.navbar > ul > li.active {
    background-color: darkorange;
}