<div class="navbar">
    <ul>
        <li routerLink="/routing"
            routerLinkActive="active">Routing</li>
        <li routerLink="/directives"
            routerLinkActive="active">Directives</li>
        <li routerLink="/forms"
            routerLinkActive="active">Forms</li>
        <li routerLink="/animations"
            routerLinkActive="active">Animations</li>
        <li routerLink="/http"
            routerLinkActive="active">HTTP</li>
        <li routerLink="/observables"
            routerLinkActive="active">Observables</li>
        <li routerLink="/pipes"
            routerLinkActive="active">Pipes</li>
    </ul>
</div>
